include /components/block-title/block-title

mixin input-text(options={})
  -
    const {
      view="",
      title="",
      subtitle="",
      arrival="",
      departure="",
      placeholder="",
      name="",
      type="",
    } = options;

  .input
    if title
      .input__title
        +block-title({title:title, subtitle:subtitle})
    case view
      when "arrow"
        .input__container.input__container_with-arrow
          input.input__field.input__field_with-arrow(placeholder=placeholder, name=name, type=type)

      when "masked"
        .input__container.input__container_masked
          input.input__field(placeholder=placeholder, name=name, type="type")

      when "filterDate"
        .input__container.input__container_with-date
          input.input__field.input__field_with-date(placeholder=placeholder, name=name, type=type)

      when "rangeDate"
        .input__date-range
          .input__box
            .input__title
              +block-title({title:arrival, subtitle:""})
            .input__container.input__container_with-date
              input.input__field.input__field_with-date(placeholder=placeholder, name=name, type=type)
          .input__box
            .input__title
              +block-title({title:departure, subtitle:""})
            .input__container.input__container_with-date
              input.input__field.input__field_with-date(placeholder=placeholder, name=name, type=type)

      default
        input.input__field(placeholder=placeholder name="default" type=type)
