mixin input-text({title, title1, subtitle, subtitle1, view, placeholder="", name, type} ="")
  case view
    when "hover"
      .input.input_view-hover
        .input__container_view-hover
          if title||subtitle
            label.input__title(subtitle=subtitle)= title
          input.input__field(placeholder=placeholder, name=name, type=type)

    when "arrow"
      .input.input_view-arrow
        .input__container_view-arrow
          if title||subtitle
            label.input__title(subtitle=subtitle)= title
          input.input__field(placeholder=placeholder, name=name, type=type)
          svg.input__field_svg
            include ./img/arrow-forward.svg

    when "guest"
      .input.input_view-guest
        .input__container_view-guest
          if title||subtitle
            label.input__title(subtitle=subtitle)= title
          input.input__field(placeholder=placeholder, name=name, type=type)

    when "masked"
      .input.input_view-masked
        .input__container_view-masked
          if title||subtitle
            label.input__title(subtitle=subtitle)= title
        input.input__field(disabled placeholder=placeholder, name=name, type="type")

    when "filterDate"
      .input.input_with-filter-date
        .input__container_view-filter-date.input_with-filter-date-calendar
          if title||subtitle
            label.input__title(subtitle=subtitle)= title
          .input__field-wrapper(data-field="calendar")
            input.input__field(placeholder=placeholder, name=name, type=type)(data-field="calendar")

    when "rangeDate"
      .input.input_view-range.input_with-range-calendar
        .input__container_view-range
          if title||subtitle
            label.input__title(subtitle=subtitle)= title
          .input__field-wrapper(data-field="calendar").input_with-range-calendar_arrival
            input.input__field(placeholder=placeholder, name=name, type=type)(data-field="calendar")
        .input__container_view-range
          if title1||subtitle1
            label.input__title(subtitle=subtitle1)= title1
          .input__field-wrapper(data-field="calendar").input_with-range-calendar_check-out
            input.input__field(placeholder=placeholder, name=name, type=type)(data-field="calendar")

    default
      .input
        .input__container_view-default
          if title||subtitle
            label.input__title(subtitle=subtitle)= title
          input.input__field(placeholder=placeholder name="default" type=type)
