mixin input-text({view, placeholder, name, type} ="")
  case view
    when "arrow"
      .input
        .input__container_view-arrow
          input.input__field(placeholder=placeholder, name=name, type=type)
          svg.input__field_view-arrow_svg
            include ./img/arrow-forward.svg
    when "demo"
      .input
        .input__container_view-demo
          input.input__field(placeholder=placeholder, name=name, type=type)
    when "masked"
      .input.input_view-masked
        .input__container_view-masked
          input.input__field(disabled placeholder=placeholder, name=name, type=type)
    default
      .input
        .input__container_view-default
          input.input__field(readonly placeholder="Email" name="default" type=text )
