mixin rating({ rate=3, name}='')
  fieldset.rating
    .rating__group(aria-label="rating")
      - for (var i = 1; i <= 5; i+=1)
          input.rating__star(
            type="radio",
            name=name value=`${i}`,
            aria-label= (i==1) ?"Ужасный": (i==2) ? "Плохой": (i==3) ? "Средний": (i==4) ? "Хороший": "Отличный",
            checked=(i<=rate) ? true : false,)
