mixin button({theme, size, type="button", form=1, href='#', text="Button"}="")
  .button
    case theme
      when "string"
        button(
          type=type,
          form=form,
          class='button__box button__box_with-string',
          class=`${size==="big" ? 'button__size_big':''}`,
          class=`${size==="little" ? 'button__size_little':''}`,
          href=href
          )=text
      when "fill"
        button(
          type=type,
          form=form,
          class="button__box button__box_with-fill",
          class=`${size==="big" ? 'button__box_size_big':''}`,
          class=`${size==="little" ? 'button__box_size_little':''}`,
          href=href
          )=text
      when "arrow"
        button(
          type=type,
          form=form,
          class="button__box button__box_with-fill button__box_with-arrow",
          class=`${size==="big" ? 'button__box_size_big':''}`,
          class=`${size==="little" ? 'button__box_size_little':''}`,,
          href=href
          )=text
      default
        button(
          type=type,
          form=form,
          class="button__box",
          class=`${size==="big" ? 'button__box_size_big':''}`,
          class=`${size==="little" ? 'button__box_size_little':''}`,
          href=href
          )=text
