//- special thanks to https://codepen.io/sasha-sm/pen/WNvKNmR

mixin pie-chart(options)
  -
    const {
      title,
      subtitle,
      items=[]
    }=options

    //- dash`s length in in percent
    const dashLength=0.5

    const totalVotes= items.reduce((total, item) => total + item.votes, 0);
    const votes= items
      .filter(item=>item.votes>=0)
      .map(item=>(((typeof(item.votes) === "number")? item.votes: 0)*100/totalVotes))

  article.pie-chart
    .pie-chart__title(data-subtitle=subtitle)=title
    .pie-chart__container
      .pie-chart__graph
        svg.pie-chart__svg.js-pie-chart__svg(fill="none" preserveAspectRatio="xMinYMin meet" viewBox="0 0 35 35")

          circle.pie-chart__circle(
            r="15.9"
            cx="50%"
            cy="50%"
            fill="none"
            stroke="url(#linear-gradient-excellent)"
            stroke-width="1"
            stroke-dasharray= `${(votes[0])?votes[0]:0} 100`
            stroke-dashoffset= `${-dashLength}`
            ).js-pie-chart__circle

          circle.pie-chart__circle(
            r="15.9"
            cx="50%"
            cy="50%"
            fill="none"
            stroke="url(#linear-gradient-good)"
            stroke-width="1"
            stroke-dasharray= `${(votes[1])?votes[1]:0} 100`
            stroke-dashoffset= `${-(votes[0])-dashLength*2}`
            ).js-pie-chart__circle

          circle.pie-chart__circle(
            r="15.9"
            cx="50%"
            cy="50%"
            fill="none"
            stroke="url(#linear-gradient-satisfied)"
            stroke-width="1"
            stroke-dasharray= `${(votes[2])?votes[2]:0} 100`
            stroke-dashoffset= `${-votes[0]-votes[1]-dashLength*3}`
            ).js-pie-chart__circle

          circle.pie-chart__circle(
              r="15.9"
              cx="50%"
              cy="50%"
              fill="none"
              stroke="url(#linear-gradient-disappointed)"
              stroke-width="1"
              stroke-dasharray= `${(votes[3])?votes[3]:0} 100`
              stroke-dashoffset= `${-votes[0]-votes[1]-votes[2]-dashLength*4}`
              ).js-pie-chart__circle

          linearGradient(id="linear-gradient-excellent")
            stop(stop-color="#FFBA9C")
            stop(offset="1" stop-color="#FFE39C")

          linearGradient(id="linear-gradient-good")
            stop(stop-color="#66D2EA")
            stop(offset="1" stop-color="#6FCF97")

          linearGradient(id="linear-gradient-satisfied")
            stop(stop-color="#BC9CFF")
            stop(offset="1" stop-color="#8BA4F9")

          linearGradient(id="linear-gradient-disappointed")
            stop(stop-color="#919191")
            stop(offset="1" stop-color="#3d4975")

      ul.pie-chart__legend
        for item in items
          li.pie-chart__item.js-pie-chart__item #{item.name}
          p.pie-chart__votes(data-votes=item.votes).js-pie-chart__votes голосов
        .pie-chart__total(data-votes=totalVotes).js-pie-chart__total голосов
