//- special thanks to https://codepen.io/sasha-sm/pen/WNvKNmR

mixin pie-chart(options)
  -
    const {
      title,
      subtitle,
      itemsName= "голосов",
      items=[]
    }=options

    const isCorrectItem = function isCorrectItem(item) {
      const isNumber = typeof item.value === "number";
      return isNumber && item.value >= 0;
    };

    const total= items
      .filter(item=>isCorrectItem(item))
      .reduce((total, item) => total + item.value, 0);

    const percents= items
      .filter(item=>isCorrectItem(item))
      .map(item=>(+(item.value * 100 / total).toFixed(1)))

    const makeDashOffset = function dashoffset(i){
      return percents.slice(0,i).reduce((acc, val)=> acc+val ,0)
    }

    const validItems=items
      .filter(item=>isCorrectItem(item))
    const percentDash=0.5
    const gradients= [
      "linear-gradient-excellent",
      "linear-gradient-good",
      "linear-gradient-satisfied",
      "linear-gradient-disappointed",
    ]

  article.pie-chart
    .pie-chart__title(data-subtitle=subtitle)=title
    .pie-chart__container
      .pie-chart__graph
        svg.pie-chart__svg.js-pie-chart__svg(fill="none" preserveAspectRatio="xMinYMin meet" viewBox="0 0 35 35")

          for item, i in percents
            circle.pie-chart__circle(
                  r="15.9"
                  cx="50%"
                  cy="50%"
                  fill="none"
                  stroke=`url(#${gradients[i]})`
                  stroke-width="1"
                  stroke-dasharray= `${(percents[i]) ? percents[i] - percentDash : 0} 100`
                  stroke-dashoffset= `${-makeDashOffset(i) - percentDash/2}`
                  ).js-pie-chart__circle

          linearGradient(id="linear-gradient-excellent")
            stop(stop-color="#FFE39C")
            stop(offset="1" stop-color="#FFBA9C")

          linearGradient(id="linear-gradient-good")
            stop(stop-color="#66D2EA")
            stop(offset="1" stop-color="#6FCF97")

          linearGradient(id="linear-gradient-satisfied")
            stop(stop-color="#BC9CFF")
            stop(offset="1" stop-color="#8BA4F9")

          linearGradient(id="linear-gradient-disappointed")
            stop(stop-color="#919191")
            stop(offset="1" stop-color="#3d4975")

      ul.pie-chart__legend
        for item,i in validItems
          li.pie-chart__item(title=`${percents[i]}%`).js-pie-chart__item #{item.name}
          p.pie-chart__votes(data-votes= item.value).js-pie-chart__votes #{itemsName}
        .pie-chart__total(data-votes=total).js-pie-chart__total #{itemsName}
