include /components/input-text/input-text
include /components/button/button
include /components/card-number/card-number


mixin card-order(options)
  -
    const {
      form= "Order",
      number=1,
      luxury=false,
      price=0,
      days=0,
      discount=0,
      service=0,
      addService=0,
    } = options

  form.card-order(name=`${form} № ${number}`)
    .card-order__number
      +card-number({
        number:number,
        luxury:luxury,
        price:price
        })

    .card-order__arrive
      +input-text({
        view:"rangeDate",
        title:"прибытие",
        subtitle:"",
        title1:"выезд",
        subtitle1:"",
        placeholder:"ДД.ММ.ГГГГ"
        })

    .card-order__guest
      +input-text({
        title:"гости",
        subtitle: " ",
        view:"guest",
        placeholder: "Сколько гостей",
        name:"guests"
        })

    .card-order__summary
      .card-order__summary-item #{price}₽ х #{days} суток
      .card-order__summary-item #{price * days}₽

    .card-order__summary
      .card-order__summary-item
        | Сбор за услуги: скидка #{discount}₽
        .card-order__summary-mark i
      .card-order__summary-item #{service}₽

    .card-order__summary
      .card-order__summary-item
        | Сбор за дополнительные услуги
        .card-order__summary-mark i
      .card-order__summary-item #{addService}₽

    .card-order__total
      | Итого
      .card-order__total-line
      | #{(price * days) + service + addService - discount}₽

    .card-order__button
      a.card-registration__link(href="./mock-address/change-me")
        +button({
          type:"submit",
          form:form,
          theme: "arrow",
          size:" ",
          text:"Забронировать"
          })
