include /components/input-text/input-text
include /components/button/button
include /components/room-number/room-number


mixin room-reserve(options)
  -
    const {
      form= "Order",
      number=1,
      luxury=false,
      price=0,
      days=0,
      discount=0,
      service=0,
      addService=0,
    } = options

  form.room-reserve(name=`${form} № ${number}`)
    .room-reserve__number
      +room-number({
        number:number,
        luxury:luxury,
        price:price
        })

    .room-reserve__arrive
      +input-text({
        view:"rangeDate",
        title:"прибытие",
        subtitle:"",
        title1:"выезд",
        subtitle1:"",
        placeholder:"ДД.ММ.ГГГГ"
        })

    .room-reserve__guest
      +input-text({
        title:"гости",
        subtitle: " ",
        view:"guest",
        placeholder: "Сколько гостей",
        name:"guests"
        })

    .room-reserve__summary
      .room-reserve__summary-item #{price}₽ х #{days} суток
      .room-reserve__summary-item #{price * days}₽

    .room-reserve__summary
      .room-reserve__summary-item
        | Сбор за услуги: скидка #{discount}₽
        .room-reserve__summary-mark i
      .room-reserve__summary-item #{service}₽

    .room-reserve__summary
      .room-reserve__summary-item
        | Сбор за дополнительные услуги
        .room-reserve__summary-mark i
      .room-reserve__summary-item #{addService}₽

    .room-reserve__total
      | Итого
      .room-reserve__total-line
      | #{(price * days) + service + addService - discount}₽

    .room-reserve__button
      a.room-reserve__link(href="./mock-address/change-me")
        +button({
          type:"submit",
          form:form,
          theme: "arrow",
          size:" ",
          text:"Забронировать"
          })
