include /components/like/like

mixin reviews(options={})
  -
    const {
      title="reviews",
      subtitle="",
      review=[
        {
          avatar:require("../ui-kit/form-elements/images/author_1.png").default,
          like:true,
          count: 1,
          author:"Мурад Сарафанов",
          time:"time",
          text:"text"
        },
      ]
    } = options

  .reviews
    label.reviews__title(subtitle=subtitle)= title
    ul.reviews__list
      each item in review
        li.reviews__item
          .reviews__guest
            img.reviews__avatar(src=item.avatar, alt='avatar')
            .reviews__like
              +like({like:item.like, count:item.count})
          .reviews__info
            b.reviews__name=item.author
            p.reviews__time=item.time
            p.reviews__text=item.text
