include /components/like/like

mixin reviews(options={})
  -
    const {
      title="#",
      subtitle="",
      review=[
        avatar="#",
      ]
    } = options

  .reviews
    label.reviews__title(subtitle=subtitle)= title
    ul.reviews__list
      each item in review
        li.reviews__item
          .reviews__guest
            img.reviews__avatar(src=item.avatar, alt='avatar')
            .reviews__like
              +like({like:item.like, count:item.count})
          .reviews__info
            b.reviews__name=item.author
            p.reviews__time=item.time
            p.reviews__text=item.text
