mixin range-slider({title, max, min, from, to}='')
  .slider
    .slider__container
      label.slider__title(data-subtitle)= title
      input.js-slider__item_with-range-slider(type='text' value='' data-max=max data-min=min data-from=from, data-to=to)
