include /components/block-title/block-title

mixin range-slider(options={})
  -
    const {
      title="Range slider",
      subtitle="0 р-10 000р",
      max=15000,
      min=0,
      from=0,
      to=10000,
    }=options

  .slider
    .slider__container
      .slider__title
        +block-title({title:title, subtitle:subtitle})
      input.js-slider__item_with-range-slider(type='text' value='' data-max=max data-min=min data-from=from, data-to=to)
