extends /layouts/ui-base/ui-base

include /components/input-text/input-text

block head
  title Form elements

block body
  body
    .form-elements
      .form-element__container
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="Default")="text field"
              +input-text
            .form-element__item(extra-name="Hover / Focus")="text field"
              +input-text({view:"demo", placeholder: "This is pretty awesome", name:"demo", type:"email"})
            .form-element__item(extra-name="Default")="text field"
              +input-text
            .form-element__item(extra-name="Default")="masked text field"
              +input-text({view:"masked", placeholder: "ДД.ММ.ГГГГ", name:"masked", type:"email"})
          .form-element__item-list
            .form-element__list-group
              .form-element__item(extra-name="")="Date dropdown"
                +input-text
              .form-element__item(extra-name="")="Date dropdown"
                +input-text
          .form-element__item-list
            .form-element__item(extra-name="")="filter date dropdown"
              +input-text
            .form-element__item(extra-name="")="subscription text field"
              +input-text({view:"arrowLeft", placeholder: "Email", name:"email", type:"email"})
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="")="Checkbox buttons"
            .form-element__item(extra-name="")="Radio buttons"
            .form-element__item(extra-name="")="Toogle"
            .form-element__item(extra-name="")="Like buttons"
            .form-element__item(extra-name="")="Rate button"
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="5 000р-10000р")="Range slider"
            .form-element__item(extra-name="")="Buttons"
            .form-element__item(extra-name="")="Pagination"
      .form-element__container
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="Default")="Dropdown"
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="")="Dropdown"
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="")="Dropdown"
      .form-element__container
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="Default")="Dropdown"
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="")="Rich Checkbox Buttons"
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="")="Bullet list"
      .form-element__container
        .form-element__col
          .form-element__item(extra-name="")
            //- room-details
        .form-element__col
          .form-element__item(extra-name="")
            //- visitor-review
