extends /layouts/ui-base/ui-base

include /components/input-text/input-text
include /components/button/button
include /components/range-slider/range-slider
include /components/checkbox-list/checkbox-list
include /components/radio/radio

block head
  title Form elements

block body
  body
    .form-elements
      .form-element__container
        .form-element__col
          .form-element__item-list
            .form-element__item
              +input-text({title:"text field",subtitle:"default",placeholder:"Email", type:"email"})
            .form-element__item
              +input-text({title:"text field", subtitle: "Hover / Focus", view:"hover", placeholder: "This is pretty awesome", name:"hover"})
            .form-element__item
              +input-text({title:"text field", subtitle: "default",view:"guest",placeholder: "Сколько гостей",name:"guests",})
            .form-element__item
              +input-text({title:"masked text field", subtitle: "default", view:"masked", placeholder: "ДД.ММ.ГГГГ", name:"masked"})
          .form-element__item-list
            +input-text({
            view:"rangeDate",
            title:"прибытие",
            subtitle:"",
            title1:"выезд",
            subtitle1:"",
            placeholder:"ДД.ММ.ГГГГ"})
          .form-element__item-list
            .form-element__item
              +input-text({view:"filterDate", title:"filter date dropdown", subtitle: "",})
            .form-element__item
              +input-text({view:"arrow", title:"subscription text field", subtitle: "", placeholder: "Email", name:"email", type:"email"})
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="")="Checkbox buttons"
              +checkbox-list({
                title:"Checkbox buttons",
                subtitle: "Доп имя",
                expand:false,
                items: [
                    {
                      richName: "",
                      text: "Можно курить"
                    },
                    {
                      richName: "",
                      text: "Можно с питомцами",
                      type: "check"
                    },
                    {
                      text: "Можно пригласить гостей (до 10 человек)",
                      type: "check"
                    }
                  ]
                })
            .form-element__item(extra-name="")="Radio buttons"
              .form-element__item_with-radio
                +radio({text:"Мужчина",name:"gender",value:"male",checked: true})
                +radio({text:"Женщина",name:"gender",value:"female"})
            .form-element__item(extra-name="")="Toogle"
            .form-element__item(extra-name="")="Like buttons"
            .form-element__item(extra-name="")="Rate button"
          .form-element__item-list
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="5 000р-10000р")="Range slider"
              +range-slider({title:"Range slider", subtitle:"5 000р-10000р", min:0, max:15000, from:5000,to:10000})
            .form-element__item(extra-name="")="Buttons"
              .form-element__item_with-btn
                +button({text:"click me"})
              .form-element__item_with-btn
                +button({type:"gradient", text:"click me"})
              .form-element__item_with-btn
                +button({type: "line", text:"click me"})
              .form-element__item_with-btn
                +button({type: "arrow", text:"Перейти к оплате"})
            .form-element__item(extra-name="")="Pagination"
      .form-element__container
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="Default")="Dropdown"
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="")="Dropdown"
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="")="Dropdown"
      .form-element__container
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="Default")="Дополнительные удобства"
              +checkbox-list({
                title:"Дополнительные удобства",
                subtitle: "Default",
                expand:true,
                items:[
                      {
                        text: "Завтрак"
                      },
                      {
                        text: "Письменный стол",
                        type: "check"
                      },
                      {
                        text: "Стул для кормления",
                        type: "check"
                      },
                      {
                        text: "Кроватка",
                        type: "check"
                      },
                      {
                        text: "Телевизор"
                      },
                      {
                        text: "Шампунь"
                      },
                      {
                        text: "Интернет"
                      },
                      {
                        text: "Связь с космосом"
                      }
                    ]
                })
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="")="Rich Checkbox Buttons"
              +checkbox-list({
                title:"Rich Checkbox Buttons",
                items:[
                     {
                      richName: "Широкий коридор",
                      text: "Ширина коридоров в номере не менее 91 см."
                    },
                    {
                      richName: "Помощник для инвалидов",
                      text: "На 1 этаже вас встретит специалист  и проводит до номера."
                    }
                    ]
                })
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="")="Bullet list"
      .form-element__container
        .form-element__col
          .form-element__item(extra-name="")
            //- room-details
        .form-element__col
          .form-element__item(extra-name="")
            //- visitor-review
