extends /layouts/ui-base/ui-base

include /components/input-text/input-text
include /components/button/button
include /components/range-slider/range-slider
include /components/checkbox-list/checkbox-list
include /components/radio/radio
include /components/toggle/toggle
include /components/rating/rating
include /components/like/like
include /components/pagination/pagination
include /components/details/details
include /components/reviews/reviews
include /components/info/info

block head
  title Form elements

block body
  body
    .form-elements
      .form-element__container
        .form-element__col
          .form-element__item-list
            .form-element__item
              +input-text({title:"text field",subtitle:"default",placeholder:"Email", type:"email"})
            .form-element__item
              +input-text({title:"text field", subtitle: "Hover / Focus", view:"hover", placeholder: "This is pretty awesome", name:"hover"})
            .form-element__item
              +input-text({title:"text field", subtitle: "default",view:"guest",placeholder: "Сколько гостей",name:"guests",})
            .form-element__item
              +input-text({title:"masked text field", subtitle: "default", view:"masked", placeholder: "ДД.ММ.ГГГГ", name:"masked"})
          .form-element__item-list
            +input-text({
            view:"rangeDate",
            title:"прибытие",
            subtitle:"",
            title1:"выезд",
            subtitle1:"",
            placeholder:"ДД.ММ.ГГГГ"})
          .form-element__item-list
            .form-element__item
              +input-text({view:"filterDate", title:"filter date dropdown", subtitle: "",})
            .form-element__item
              +input-text({view:"arrow", title:"subscription text field", subtitle: "", placeholder: "Email", name:"email", type:"email"})
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="")="Checkbox buttons"
              +checkbox-list({
                title:"Checkbox buttons",
                subtitle: "Доп имя",
                expand:false,
                items: [
                    {
                      richName: "",
                      text: "Можно курить",
                      dis:false,
                    },
                    {
                      richName: "",
                      text: "Можно с питомцами",
                      check: true
                    },
                    {
                      text: "Можно пригласить гостей (до 10 человек)",
                      check: true,
                      dis:true,
                    }
                  ]
                })
            .form-element__item(extra-name="")="Radio buttons"
              .form-element__item_with-radio
                +radio({text:"Мужчина",name:"gender",value:"male",checked: true})
                +radio({text:"Женщина",name:"gender",value:"female"})
            .form-element__item(extra-name="")="Toogle"
              .form-element__item_with-toggle
                +toggle({text:"Получать спецпредложение", checked:true})
              .form-element__item_with-toggle
                +toggle({text:"Получать спецпредложение"})
            .form-element__item(extra-name="")="Like buttons"
              .form-element__item_with-like
                +like({count:10})
              .form-element__item_with-like
                +like({name:"количество лайков", like:true, count:12})
            .form-element__item(extra-name="")="Rate button"
              .form-element__item_with-rating
                +rating({title:"", rate:4, name: "рейтинг 1 номера"})
                +rating({title:"", rate:5, name: "рейтинг 2 номера"})
          .form-element__item-list
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="")="Range slider"
              +range-slider({title:"Range slider", subtitle:"5 000р-10000р", min:0, max:15000, from:5000,to:10000})
            .form-element__item(extra-name="")="Buttons"
              .form-element__item_with-btn
                +button({theme:"fill",text:"click me"})
                +button({theme:"fill", text:"click me", size:"big",})
              .form-element__item_with-btn
                +button({text:"click me"})
                +button({text:"click me", size:"little",})
              .form-element__item_with-btn
                +button({theme: "string", text:"click me"})
              .form-element__item_with-btn
                +button({theme: "arrow", size:" ", text:"Перейти к оплате"})
                +button({theme: "arrow", size:"big", text:"Перейти к оплате"})
                +button({theme: "arrow", size:"little", text:"Перейти к оплате"})
            .form-element__item(extra-name="")="Pagination"
              .form-element__item_with-pagination
                +pagination({current:1, total:15, variant:100})
      .form-element__container
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="Default")="Dropdown"
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="")="Dropdown"
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="")="Dropdown"
      .form-element__container
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="Default")="Дополнительные удобства"
              +checkbox-list({
                title:"Дополнительные удобства",
                subtitle: "Default",
                expand:true,
                items:[
                      {
                        text: "Завтрак"
                      },
                      {
                        text: "Письменный стол",
                        check: true
                      },
                      {
                        text: "Стул для кормления",
                        check: true
                      },
                      {
                        text: "Кроватка",
                        check: true
                      },
                      {
                        text: "Телевизор"
                      },
                      {
                        text: "Шампунь"
                      },
                      {
                        text: "Интернет"
                      },
                      {
                        text: "Связь с космосом"
                      }
                    ]
                })
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="")="Rich Checkbox Buttons"
              +checkbox-list({
                title:"Rich Checkbox Buttons",
                items:[
                     {
                      richName: "Широкий коридор",
                      text: "Ширина коридоров в номере не менее 91 см."
                    },
                    {
                      richName: "Помощник для инвалидов",
                      text: "На 1 этаже вас встретит специалист  и проводит до номера."
                    }
                    ]
                })
        .form-element__col
          .form-element__item-list
            .form-element__item(extra-name="")="Bullet list"
              +info({
                title:"Правила",
                subtitle:" ",
                items:[
                  {
                    bullet:true,
                    text:"Нельзя с питомцами"
                  },
                  {
                    bullet:true,
                    text:"Без вечеринок и мероприятий"
                  },
                  {
                    bullet:true,
                    text:"Время прибытия — после 13:00,а выезд до 12:00"
                  },
                  ]
                })
              +info({
                title:"Отмена",
                subtitle:"",
                items:[
                  {
                    bullet:false,
                    text:"Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги."
                  },
                  ]
                })
      .form-element__container
        .form-element__col
          .form-element__item(extra-name="")
            +details({
                title:"Сведения о номере",
                subtitle: "",
                items: [
                    {
                      icon:"smile",
                      name: "Комфорт",
                      text:"Шумопоглощающие стены",
                    },
                    {
                      icon: "city",
                      name: "Удобство",
                      text: "Окно в каждой из спален"
                    },
                    {
                      icon: "fire",
                      name: "Удобство",
                      text: "Окно в каждой из спален"
                    },
                  ]
                })
        .form-element__col_expanded
          .form-element__item(extra-name="")
            +reviews({
                title:"Отзывы посетителей номера",
                subtitle: "2 отзыва",
                review: [
                    {
                      avatar:'author_1',
                      like:true,
                      count: 12,
                      author:"Мурад Сарафанов",
                      time:"5 дней назад ",
                      text:"Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.  "
                    },
                    {
                      avatar:'author_2',
                      like:false ,
                      count: 2,
                      author:"Патрисия Стёклышкова",
                      time:"Неделю назад",
                      text:"Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"
                    },
                  ]
                })
