mixin logo({ view}='')
  .logo
    case view
      when "color"
        img.logo__color(src=require('@components/logo/images/colored-logo.svg').default, alt='color logo')
      when "gray"
        img.logo__gray(src=require('@components/logo/images/grayed-logo.svg').default, alt='grey logo')
      when "grayText"
        img.logo__gray(src=require('@components/logo/images/grayed-logo.svg').default, alt='grey logo')
        img.logo__text(src=require('@components/logo/images/text-logo.svg').default, alt='text logo' )
      default
        img.logo__color(src=require('@components/logo/images/colored-logo.svg').default, alt='color logo')
        img.logo__text(src=require('@components/logo/images/text-logo.svg').default, alt='text logo' )
