include /components/input-text/input-text
include /components/button/button
include /components/card-number/card-number


mixin reservation({ form, number, luxury, price, days=0, discount=0, service=0, addService=0 }='')
  form.reservation(name=form)
    .reservation__number
      +card-number({
        number:number,
        luxury:luxury,
        price:price
        })
    .reservation__arrive
      +input-text({
        view:"rangeDate",
        title:"прибытие",
        subtitle:"",
        title1:"выезд",
        subtitle1:"",
        placeholder:"ДД.ММ.ГГГГ"
        })
    .reservation__guest
      +input-text({
        title:"гости",
        subtitle: " ",
        view:"guest",
        placeholder: "Сколько гостей",
        name:"guests"
        })
    .reservation__summary
      .reservation__summary-item #{price}₽ х #{days} суток
      .reservation__summary-item #{price * days}₽
    .reservation__summary
      .reservation__summary-item
        | Сбор за услуги: скидка #{discount}₽
        .reservation__summary-mark i
      .reservation__summary-item #{service}₽
    .reservation__summary
      .reservation__summary-item
        | Сбор за дополнительные услуги
        .reservation__summary-mark i
      .reservation__summary-item #{addService}₽
    .reservation__total
      | Итого
      .reservation__total-line
      | #{(price * days) + service + addService - discount}₽
    .reservation__button
       +button({
         type:"submit",
         form:form,
         theme: "arrow",
         size:" ",
         text:"Подобрать номер"
         })
