include /components/input-text/input-text
include /components/button/button
include /components/radio/radio
include /components/toggle/toggle

mixin account-registration(options)
  -
    const {
      title="title",
      titleBirth="title birth",
      titleSign="title sign",
      form="form",
      auth=true
    } = options

  form.account-registration(name=form)
    h1.account-registration__title=title

    fieldset.account-registration__field
      .account-registration__item
        +input-text({title:"",subtitle:"",placeholder:"Имя", type:"text"})

      .account-registration__item
        +input-text({title:"",subtitle:"",placeholder:"Фамилия", type:"text"})

      .account-registration__group
        +radio({text:"Мужчина",name:"gender",value:"male",checked: true})
        +radio({text:"Женщина",name:"gender",value:"female"})

    fieldset.account-registration__field
      .account-registration__item
        +input-text({title:titleBirth, subtitle: "", view:"masked", placeholder: "ДД.ММ.ГГГГ", name:"masked"})

    fieldset.account-registration__field
      .account-registration__item
        +input-text({title:titleSign, subtitle:"", placeholder:"email", type:"email"})

      .account-registration__item
        +input-text({title:"",subtitle:"", placeholder:"password", type:"password"})

      .account-registration__item
        +toggle({text:"Получать спецпредложение", checked:false})

    a.account-registration__link(href="/mock-address/change-me")
      .account-registration__btn
        +button({type:"button", form:form, theme: "arrow",size:"big", text:"перейти к оплате" })

    fieldset.account-registration__field
      .account-registration__group
        if auth===true
          .account-registration__account Уже есть аккаунт на Toxin

          a.account-registration__link(href="./sign-in.html")
            +button({type:"button", form:form, size:"big", text:"Войти"})
        else
          .account-registration__account Нет аккаунта на Toxin

          a.account-registration__link(href="./registration.html")
            +button({type:"button", form:form, size:"big", text:"Создать"})
