mixin header(options)
  -
    const {
      auth=false,
      logoRef="/mock-address/change-me",
      btnRefEnter="/mock-address/change-me",
      btnRefRegister="/mock-address/change-me",
      userRef="/mock-address/change-me",
      navItems=[{
          name: "Lorem",
          isBig: true,
          submenu: true,
          title: "Lorem",
          href: "/mock-address/change-me"
      }],
    } = options

  header.header
    .header__main
      .header__container
        a.header__logo(href=logoRef title="Toxin" target="_blank")
          +logo

        nav.header__nav.js-header__nav
          ul.header__menu
            for item in navItems
              li.header__item(
                class=((item.submenu===true) ? 'header__item_with-menu' : ''),
                class=((item.isBig===true) ? 'header__item_bold' : ''))
                  a.header__link(href=item.href title=item.title tabindex=0)=item.name

          ul.header__menu.header__menu_with-buttons
            if auth === true
              li.header__item
                span.header__user
                  a.header__link(href=userRef)="Юлий Цезарь"

            else
              li.header__item
                a.header__button(href=btnRefEnter alt="Sign-In" tabindex=-1)
                  +button({text:"Войти", size:"little"})
              li.header__item
                a.header__button(href=btnRefRegister alt="Register" tabindex=-1)
                  +button({theme:"fill", text:"Зарегистрироваться", size:"little"})

        .header__toggle.js-header__toggle
          include ./images/icon.svg
