mixin header(options)
  -
    const {
      auth=false,
      logoRef="/mock-address/change-me",
      btnRefEnter="/mock-address/change-me",
      btnRefRegister="/mock-address/change-me",
      userRef="/mock-address/change-me",
      navItems=[{
          name: "Lorem",
          isBig: true,
          submenu: true,
          title: "Lorem",
          href: "/mock-address/change-me"
      }],
    } = options

  header.header.js-header
    .header__main
      .header__container
        a.header__logo(href=logoRef title="Toxin" target="_blank")
          +logo

        nav.header__navigation.js-header__navigation
          ul.header__menu
            for item in navItems
              li.header__item(
                class=((item.submenu===true) ? 'header__item_with-menu' : ''),
                class=((item.isBig===true) ? 'header__item_bold' : ''))
                  a.header__link(href=item.href title=item.title tabindex=0)=item.name

          ul.header__menu.header__menu_with-buttons
            if auth === true
              li.header__item
                span.header__user
                  a.header__link(href=userRef)="Юлий Цезарь"

            else
              li.header__item
                a.header__button(href=btnRefEnter alt="Sign-In" tabindex=-1)
                  +button({text:"Войти", size:"little"})
              li.header__item
                a.header__button(href=btnRefRegister alt="Register" tabindex=-1)
                  +button({theme:"fill", text:"Зарегистрироваться", size:"little"})

        .header__toggle.js-header__toggle
          svg.header__toggle_svg(viewBox="220 120 490 400" preserveAspectRatio="xMinYMin meet")
            path.header__toggle_path.header__toggle_path_top(d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top")
            path.header__toggle_path.header__toggle_path_middle(d="M300,320 L540,320" id="middle")
            path.header__toggle_path.header__toggle_path_bottom(d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" transform="translate(480, 320) scale(1, -1) translate(-480, -318)" id="bottom")
