mixin header(options)
  -
    const {
      auth=false,
      nav=[],
      logoRef="/mock-address/change-me",
      btnRefEnter="/mock-address/change-me",
      btnRefRegister="/mock-address/change-me",
    }=options

  - const ID = Math.random().toFixed(5)

  header.header
    .header__main
      .header__container
        a.header__logo(href=logoRef alt="Toxin")
          +logo
        input.header__input(type="checkbox" id=ID )
        nav.header__nav
          ul.header__menu
            each item in nav
              if item.menu
                li.header__item.header__item_marked
                  a.header__link(href="/mock-address/change-me" alt=item.alt)=item.name
              else
                li.header__item
                  a.header__link(href="/mock-address/change-me" alt=item.alt)=item.name
          ul.header__user-menu
            if auth === true
              li.header__item
                span.header__user-name
                  a.header__link(href="/mock-address/change-me")="Юлий Цезарь"
            else
              li.header__item
                a.header__button(href=btnRefEnter alt="Sign-In" tabindex=-1)
                  +button({text:"Войти"})
              li.header__item
                a.header__button(href=btnRefRegister alt="Register" tabindex=-1)
                  +button({theme:"fill", text:"Зарегистрироваться"})
        label.header__toggle(label for=ID)
