mixin checkbox({richName, text, check=false, dis=false}="")
  label.checkbox
    input(type="checkbox" checked=check disabled=dis).checkbox__input
    span.checkbox__box
    .checkbox__info
      if richName
        .checkbox__name= richName
      p.checkbox__text=text
