include /components/button/button
include /components/rating/rating
include /components/room-slider/room-slider
include /components/card-number/card-number


mixin room({ form, srcIMG, dotIMG=1, quantityIMG, href="#", number, luxury, price, rate=4, reviews=0}='')
  form.room(name=`${form} № ${number} `)
    fieldset.room__field
      a.room__link(href=href)
        img.room__img(src=require(`./images/${srcIMG}`).default,alt="Фотография номера")
      .room__slider
        +room-slider({dot:true, items:quantityIMG, check:dotIMG})
    fieldset.room__field
      .room__number
        +card-number({
          number:number,
          price:price,
          luxury:luxury})
      .room__group
        +rating({title:"", rate:rate, name: `${form} № ${number} `})
        .room__reviews
          b.room__reviews_bold| #{reviews}
          |Отзывов
