include /components/button/button
include /components/rating/rating
include /components/room-slider/room-slider
include /components/card-number/card-number


mixin room(options)
  -
    const {
      form,
      srcIMG="#",
      dotIMG=1,
      quantityIMG,
      href="#",
      number=1,
      luxury=false,
      price=0,
      rate=3,
      reviews=0
    } = options;

  form.room(name=`${form} № ${number} `)
    fieldset.room__field
      a.room__link(href=href)
        img.room__img(src=srcIMG, alt="Фотография номера")
      .room__slider
        +room-slider({dot:true, items:quantityIMG, check:dotIMG})
    fieldset.room__field
      .room__number
        +card-number({
          number:number,
          price:price,
          luxury:luxury,
          isMiddleNumber:true})
      .room__group
        +rating({title:"", rate:rate, name: `${form} № ${number} `})
        .room__reviews
          b.room__reviews_bold| #{reviews}
          |Отзывов
