include /components/button/button
include /components/rating/rating
include /components/card-slider/card-slider
include /components/room-number/room-number


mixin room-info(options={})
  -
    const {
      form= "info",
      srcIMG="/mock-address/change-me",
      dotIMG=1,
      images=[],
      href="/mock-address/change-me",
      number=1,
      luxury=false,
      price=0,
      rate=5,
      reviews=0
    } = options;

  form.room-info(name=`${form} № ${number}` aria-label=`${form} № ${number}`)
    fieldset.room-info__field
      +card-slider({dot:true, items:images, href:href, check:dotIMG})

    fieldset.room-info__field
      .room-info__number
        +room-number({
          number:number,
          price:price,
          luxury:luxury,
          isMiddleNumber:true})

      .room-info__group
        +rating({title:"", rate:rate, name: `${form} № ${number} `})
        .room-info__reviews
          b.room-info__reviews-bold| #{reviews}
          |Отзывов
