mixin room-slider({ dot=true, items, href, check=1}='')
  .room-slider
    .room-slider__gallery
      .room-slider__scroll
        for image in items
          a.room-slider__link(href=href)
            img.room-slider__img(src=image, alt="Фотография номера")
    .room-slider__ui
      .room-slider__btn.room-slider__btn_prev
      .room-slider__btn.room-slider__btn_next
      if dot==true
        .room-slider__dots
          - for (let i = 1; i <= items.length; i+=1)
            if (i===check)
              label.room-slider__label
                input.room-slider__input(type="radio", name="dot", checked=true data-index=i)
                .room-slider__dot
            else
              label.room-slider__label
                input.room-slider__input(type="radio", name="dot" checked=false data-index=i)
                .room-slider__dot
