include /components/block-title/block-title

mixin text-field(options={})
  -
    const {
      view="",
      title="text field",
      subtitle="",
      arrival="",
      departure="",
      placeholder="placeholder",
      name="",
      type="",
      form=""
    } = options;

  .text-field
    if title
      .text-field__title
        +block-title({title:title, subtitle:subtitle})
    case view
      when "arrow"
        .text-field__container
          input.text-field__field.text-field__field_with-arrow(placeholder=placeholder, name=name, type=type, form=form)
          .text-field__icon
      when "masked"
        .text-field__container.js-text-field_masked
          input.text-field__field.js-text-field__input(placeholder=placeholder, name=name, type=type, form=form)

      default
        input.text-field__field(placeholder=placeholder name="default" type=type, form=form)
