include /components/block-title/block-title

mixin text-field(options={})
  -
    const {
      view="",
      title="text field",
      subtitle="",
      arrival="",
      departure="",
      placeholder="placeholder",
      name="",
      type="",
    } = options;

  .text-field
    if title
      .text-field__title
        +block-title({title:title, subtitle:subtitle})
    case view
      when "arrow"
        .text-field__container.text-field__container_with-arrow
          input.text-field__field.text-field__field_with-arrow(placeholder=placeholder, name=name, type=type)

      when "masked"
        .text-field__container.text-field__container_masked
          input.text-field__field(placeholder=placeholder, name=name, type="type")

      when "filterDate"
        .text-field__container.text-field__container_with-date
          input.text-field__field.text-field__field_with-date(placeholder=placeholder, name=name, type=type)

      when "rangeDate"
        .text-field__date-range
          .text-field__box
            .text-field__title
              +block-title({title:arrival, subtitle:""})
            .text-field__container.text-field__container_with-date
              input.text-field__field.text-field__field_with-date(placeholder=placeholder, name=name, type=type)
          .text-field__box
            .text-field__title
              +block-title({title:departure, subtitle:""})
            .text-field__container.text-field__container_with-date
              input.text-field__field.text-field__field_with-date(placeholder=placeholder, name=name, type=type)

      default
        input.text-field__field(placeholder=placeholder name="default" type=type)
