mixin card-slider(options)
  -
    const {
      isHideDots=false,
      items,
      href="/mock-address/change-me",
      check=1
    } = options

  .card-slider.js-card-slider
    ul.card-slider__carousel
      .card-slider__controls
        .card-slider__control.card-slider__control_prev.js-card-slider__control_prev
        .card-slider__control.card-slider__control_next.js-card-slider__control_next
      a.card-slider__track(href=href, target="_blank", aria-label="open link view").js-card-slider__track
        for image in items
          li.card-slider__slide(data-subtitle="â¦").js-card-slider__slide
            img.card-slider__img(src=image, alt="Room View")
      .card-slider__dots(hidden=isHideDots)
        for image, i in items
          if (i===(check-1))
            .card-slider__dot.card-slider__dot_active.js-card-slider__dot(data-index=i)
          else
            .card-slider__dot.js-card-slider__dot(data-index=i)
